@model SportingGoods.ViewModels.EditItemViewModel

@{
   ViewData["Title"] = "Edit";
    // Get the full path of the existing employee photo for display
    var photoPath = "~/images/items/" + (Model.ExistingPicture ?? "noimage.jpg");
}

<div class="page-title">
    <h3 class="breadcrumb-header">Edit item</h3>
</div>

<div id="main-wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-white">
                <div class="panel-heading clearfix">
                    <form asp-controller="Items" asp-action="Edit" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input hidden asp-for="ID" />
                        <input hidden asp-for="ExistingPicture" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryID" class="control-label"></label>
                            <select class="form-control" asp-items="ViewBag.CategoryID" asp-for="CategoryID"></select>
                            <span asp-validation-for="CategoryID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" rows="4"> </textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Picture" class="control-label"></label>
                            <input asp-for="Picture" class="form-control custom-file-input">
                            <span asp-validation-for="Picture" class="text-danger"></span>
                        </div>

                        @*Display the existing employee photo*@
                        <div class="form-group">
                            <img src="@photoPath" asp-append-version="true" height="100" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Brand" class="control-label"></label>
                            <input asp-for="Brand" class="form-control" />
                            <span asp-validation-for="Brand" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- Row -->
</div><!-- Main Wrapper -->


<a class="btn btn-info" asp-action="Index"><i class="icon-arrow-left2 m-r-xs"></i>Return</a>

@section Scripts {
    <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
    </script>
}
